/logs/*
/logs
/node_modules/*
/public/doc/*
/bin/fingerscan/*
.env
DB_FingerScan.mdb
*.xlsx

bin/daemon/hririsgroup.err.log
bin/daemon/hririsgroup.exe
bin/daemon/hririsgroup.exe.config
bin/daemon/hririsgroup.out.log
bin/daemon/hririsgroup.wrapper.log
bin/daemon/hririsgroup.xml
report_easypass.xlsx
