extends layout

block script
 +ssrc(['jquery-ui.custom.min.js','jquery.ui.touch-punch.min.js','moment.min.js','bootbox.min.js','fullcalendar.min.js','calendar.js']) 

block content
 div.row
  div.col-xs-12
   div.row
    div.col-sm-9
     div.space
     div(id="calendar")
    div.col-sm-3
     div.widget-box.transparent
      div.widget-header
       h4="ข้อมูลในการจอง"
        
      div.widget-body
       div.widget-main.no-padding
        div(id="external-events")
         div(class="external-event label-grey" , data-class="label-grey")
          i.ace-icon.fa.fa-arrows
          ="Avanza 6841"
         div(class="external-event label-success" , data-class="label-success")
          i.ace-icon.fa.fa-arrows
          ="March 475"
         div(class="external-event label-danger" , data-class="label-danger")
          i.ace-icon.fa.fa-arrows
          ="March 745"
         div(class="external-event label-warning" , data-class="label-warning")
          i.ace-icon.fa.fa-arrows
          ="Vios 1494"
         div(class="external-event label-purple" , data-class="label-purple")
          i.ace-icon.fa.fa-arrows
          ="ห้องประชุมใหญ่ ชั้น 1"
         div(class="external-event label-yellow" , data-class="label-yellow")
          i.ace-icon.fa.fa-arrows
          ="ห้องประชุมใหญ่ ชั้น 2"
         div(class="external-event label-pink" , data-class="label-pink")
          i.ace-icon.fa.fa-arrows
          ="ห้องประชุมเล็ก 1 ชั้น 2"
         div(class="external-event label-info" , data-class="label-info")
          i.ace-icon.fa.fa-arrows
          ="ห้องประชุมเล็ก 2 ชั้น 2"