extends layout

block content
 contain
  img(style="display: block; margin-left: auto; margin-right: auto; width: 20%;" src="/public/img/restricted.jpg")
  h1(style="text-align: center;") คุณไม่มีสิทธิในการเข้าถึงหน้านี้
  a(style="text-align: center; display: block;" href="/") คลิ๊กเพื่อกลับสู่หน้าหลัก