extends layout

block content
 mixin scss(scss)
  for t in scss
   link(rel='stylesheet' , href='../css/'+t)
 mixin ssrc(scr)
  for t in scr
   script(src="../js/"+t)
 .container
  .row
   h2.center=parms.formname
   .form-style-5
    fieldset
     legend
      span.number 1
      ="ขอมูลการร้องขอ"
     input#inp-depart(type="text" placeholder="ตำแหน่งงาน")
     input#inp-volumn(type="number" placeholder="จำนวน (อัตรา)")
    fieldset
     legend
      span.number 2
      ="งบประมาณที่ตั้ง"
     input#inp-cost(type="number" placeholder="งบประมาณ")
     input#rdo-perm(type="radio" name="costper")
     label(for="rdo-perm")
      .tick_mark
     span บาทต่อเดือน
     br
     input#rdo-perd(type="radio" name="costper")
     label(for="rdo-perd")
      .tick_mark
     span บาทต่อวัน
    fieldset
     legend
      span.number 3
      ="สถานที่ปฏิบัติงาน"
     input#rdo-office(type="radio" name="workplace")
     label(for="rdo-office")
      .tick_mark
     span สำนักงานใหญ่
     br
     input#rdo-site(type="radio" name="workplace")
     label(for="rdo-site")
      .tick_mark
     span หน่วยงาน
     input#cmt-site.rdo-comment
    fieldset
     legend
      span.number 4
      ="ประเภทการจ้าง"
     input#rdo-emp-per(type="radio" name="empdur")
     label(for="rdo-emp-per")
      .tick_mark
     span ประจำ
     br
     input#rdo-emp-mon(type="radio" name="empdur")
     label(for="rdo-emp-mon")
      .tick_mark
     span รายเดือน
     br
     input#rdo-emp-day(type="radio" name="empdur")
     label(for="rdo-emp-day")
      .tick_mark
     span รายวัน
     br
     input#rdo-emp-tem(type="radio" name="empdur")
     label(for="rdo-emp-tem")
      .tick_mark
     span ชั่วคราว
     .input-group.rdo-comment.input-daterange(data-provide="datepicker")
      input.datepickerstart(type="text")
      .input-group-addon to
      input.datepickerend(type="text")
    fieldset
     legend
      span.number 5
      ="เหตุผลในการขอ"
     input#rdo-posinc(type="radio" name="reqreason")
     label(for="rdo-posinc")
      .tick_mark
     span อัตราเพิ่ม
     br
     input#rdo-posrep(type="radio" name="reqreason")
     label(for="rdo-posrep")
      .tick_mark
     span อัตราทดแทน
     br
     input#rdo-posoth(type="radio" name="reqreason")
     label(for="rdo-posoth")
      .tick_mark
     span อื่นๆ
     input#cmt-pos.rdo-comment
    fieldset
     legend
      span.number 6
      ="คุณสมบัติเฉพาะตำแหน่ง"
     input#rdo-genm(type="radio" name="gender")
     label(for="rdo-genm")
      .tick_mark
     span เพศชาย
     br
     input#rdo-genf(type="radio" name="gender")
     label(for="rdo-genf")
      .tick_mark
     span เพศหญิง
     input#inp-regage(type="number" placeholder="อายุ")
     input#inp-regedu(type="text" placeholder="วุฒิการศึกษา")
     input#inp-regexp(type="text" placeholder="ประสบการณ์")
     input#inp-regoth(type="text" placeholder="คุณสมบัติอื่นๆ")
     input#inp-regdet(type="text" placeholder="ลักษณะงานและหน้าที่ความรับผิดชอบหลักโดยสังเขป")
    fieldset
     legend
      span.number 7
      ="ลงชื่อผู้ขอ"
     input#inp-regsign(type="text" placeholder="ชื่อ-นามสกุลผู้ขอ")
     input#inp-regdept(type="text" placeholder="ตำแหน่งงาน")
    .b-submit-form.center บันทึกฟอร์ม
block footer
 +scss(['form.css','datatable/datatables.min.css','bootstrap-datepicker.min.css'])
 +ssrc(['moment.min.js','transition.js','collapse.js','datatables.min.js','bootstrap-datepicker.min.js'])
 script.
  $('.input-daterange input').each(function(index) {
    $(this).datepicker({
     ignoreReadonly: true,
     format: 'dd MM yyyy',
     todayHighlight: true,
     isBuddhist: true,
     language: "th"
    })
    var d = new Date()
    $(this).datepicker('setDate',new Date(d.getFullYear(),d.getMonth()+index,d.getDate()))
  })
  $(document).on('click','.b-submit-form',function(){
   let data = {}
   let required = true
   const comment = $(document).find('[id^="inp-"]')
   const radio = $(document).find('[id^="rdo-"]')
   var radioRequire = []
   var radioChecked = []
   $(comment).each(function() {
    let id = $(this).attr('id')
    let val = $(this).val()
    if (val == "") {
     $(this).addClass("required")
     required = false
    } else {
     data[id] = val
     $(this).removeClass("required")
    }
   })
   $(radio).each(function() {
    let id = $(this).attr('id')
    let checked = $(this)[0].checked
    let name = $(this).attr('name')
    if (checked) {
     radioChecked.push(name)
     data[id] = name
     if (id == "rdo-site" || id == "rdo-posoth") {
      let cid = $('#'+id).parent('fieldset').find('.rdo-comment').attr('id')
      let value = $('#'+id).parent('fieldset').find('.rdo-comment').val()
      if (value == "") {
       required = false
       $('#'+id).parent('fieldset').find('.rdo-comment').addClass("required")
      } else {
        data[cid] = value
        $('#'+id).parent('fieldset').find('.rdo-comment').removeClass("required")
      }
     }
     if (id == "rdo-emp-tem") {
        data.dstart = $('.datepickerstart').datepicker('getDate').getTime()/1000
        data.dend = $('.datepickerend').datepicker('getDate').getTime()/1000
     }
    } else {
     if (radioRequire.indexOf(name) < 0) {
      radioRequire.push(name)
     }
    }
   })
   radioRequire.forEach(function(name) {
     if (radioChecked.indexOf(name) < 0) {
      required = false
      $(document).find('[name='+name+'] + label').addClass("required")
     } else {
      $(document).find('[name='+name+'] + label').removeClass("required")
     }
    })
   if (required) {
    console.log(data)
   }
   /*
    $.ajax({
     url: '/forms/fm-hr-01-04',
     type: "POST",
     dataType: 'json',
     data: {
       depart: depart,
       volumn: volumn,
       cost: cost
      }
    })
    */
  })