extends layout

block content
 mixin scss(scss)
  for t in scss
   link(rel='stylesheet' , href='../css/'+t)
 mixin ssrc(scr)
  for t in scr
   script(src="../js/"+t)
 .container
  .row
   h2.center=parms.formname
   .form-style-5
    fieldset
     legend
      span.number 1
      ="ข้อมูลการทำแผน"
     input#depart(type="text" placeholder="ฝ่ายหรือโครงการ")
     input#bdyear(type="number" placeholder="แผนประจำปี พ.ศ.")
    fieldset
     legend
      span.number 2
      ="รายละเอียดแผนอัตรากำลังคน"
     input.req-pos(type="text" placeholder="ตำแหน่ง")
     input.req-bud(type="number" placeholder="งบประมาณ")
     input.req-jan(type="number" placeholder="1. จำนวนตำแหน่ง (เดือนมกราคม)")
     input.req-feb(type="number" placeholder="2. จำนวนตำแหน่ง (เดือนกุมภาพันธ์)")
     input.req-mar(type="number" placeholder="3. จำนวนตำแหน่ง (เดือนมีนาคม)")
     input.req-apr(type="number" placeholder="4. จำนวนตำแหน่ง (เดือนเมษายน)")
     input.req-may(type="number" placeholder="5. จำนวนตำแหน่ง (เดือนพฤษภาคม)")
     input.req-jun(type="number" placeholder="6. จำนวนตำแหน่ง (เดือนมิถุนายน)")
     input.req-jul(type="number" placeholder="7. จำนวนตำแหน่ง (เดือนกรกฎาคม)")
     input.req-aug(type="number" placeholder="8. จำนวนตำแหน่ง (เดือนสิงหาคม)")
     input.req-sep(type="number" placeholder="9. จำนวนตำแหน่ง (เดือนกันยายน)")
     input.req-oct(type="number" placeholder="10. จำนวนตำแหน่ง (เดือนตุลาคม)")
     input.req-nov(type="number" placeholder="11. จำนวนตำแหน่ง (เดือนพฤษศจิกายน)")
     input.req-dec(type="number" placeholder="12. จำนวนตำแหน่ง (เดือนธันวาคม)")
     input.req-cur(type="number" placeholder="จำนวนตำแหน่งปัจจุบัน")
     input.req-rep(type="number" placeholder="จำนวนที่ต้องการทดแทน")
     input.req-inc(type="number" placeholder="จำนวนที่ต้องการเพิ่ม")
     input.req-tot(type="number" placeholder="จำนวนทั้งหมด")
     .b-add-group.center เพิ่มตำแหน่งอื่น
    .b-submit-form.center บันทึกฟอร์ม
block footer
 +scss(['form.css','datatable/datatables.min.css'])
 +ssrc(['datatables.min.js'])
 script.
  $(document).on('click','.b-add-group',function(){
   let thisrow = $('.form-style-5 fieldset').length
   if (thisrow > 20) {
    alert("สามารถใส่ข้อมูลได้ 20 ตำแหน่ง")
   } else {
    let code = '<fieldset><legend><span class="number">'+(thisrow+1)+'</span>รายละเอียดแผนอัตรากำลังคน</legend><input class="req-pos" type="text" placeholder="ตำแหน่ง"><input class="req-bud" type="number" placeholder="งบประมาณ"><input class="req-jan" type="number" placeholder="1. จำนวนตำแหน่ง (เดือนมกราคม)"><input class="req-feb" type="number" placeholder="2. จำนวนตำแหน่ง (เดือนกุมภาพันธ์)"><input class="req-mar" type="number" placeholder="3. จำนวนตำแหน่ง (เดือนมีนาคม)"><input class="req-apr" type="number" placeholder="4. จำนวนตำแหน่ง (เดือนเมษายน)"><input class="req-may" type="number" placeholder="5. จำนวนตำแหน่ง (เดือนพฤษภาคม)"><input class="req-jun" type="number" placeholder="6. จำนวนตำแหน่ง (เดือนมิถุนายน)"><input class="req-jul" type="number" placeholder="7. จำนวนตำแหน่ง (เดือนกรกฎาคม)"><input class="req-aug" type="number" placeholder="8. จำนวนตำแหน่ง (เดือนสิงหาคม)"><input class="req-sep" type="number" placeholder="9. จำนวนตำแหน่ง (เดือนกันยายน)"><input class="req-oct" type="number" placeholder="10. จำนวนตำแหน่ง (เดือนตุลาคม)"><input class="req-nov" type="number" placeholder="11. จำนวนตำแหน่ง (เดือนพฤษศจิกายน)"><input class="req-dec" type="number" placeholder="12. จำนวนตำแหน่ง (เดือนธันวาคม)"><input class="req-cur" type="number" placeholder="จำนวนตำแหน่งปัจจุบัน"><input class="req-rep" type="number" placeholder="จำนวนที่ต้องการทดแทน"><input class="req-inc" type="number" placeholder="จำนวนที่ต้องการเพิ่ม"><input class="req-tot" type="number" placeholder="จำนวนทั้งหมด"><div class="b-add-group center">เพิ่มตำแหน่งอื่น</div></fieldset>'
    $('.form-style-5 fieldset:last-of-type').after(code)
    $(this).remove()
   }
  })
  $(document).on('click','.b-submit-form',function(){
   const depart = ($('#depart').val() ? $('#depart').val() : "")
   const bdyear = ($('#bdyear').val() ? $('#bdyear').val() : "")
   let info = $('.form-style-5 fieldset:not(:first-of-type)')
   var data = []
   var row
   var i = 0
   var pass = 1
   if (depart == "") { pass = 0; $('#depart').addClass("required") } else { $('#depart').removeClass("required") }
   if (bdyear == "") { pass = 0; $('#bdyear').addClass("required") } else { $('#bdyear').removeClass("required") }
   $(info).each(function() {
    data[i] = {}
    row = $(this).find('[class^="req-"]')
    $(row).each(function() {
     if ($(this).val() == "") {
      pass = 0
      $(this).addClass("required")
     } else {
      $(this).removeClass("required")
      data[i][$(this).attr('class')] = $(this).val()
     }
    })
    i++
   })
   if (depart && bdyear && pass) {
    $.ajax({
     url: '/forms/fm-hr-01-02',
     type: "POST",
     dataType: 'json',
     data: {
       depart: depart,
       bdyear: bdyear,
       data: data
      }
    })
   } else {
    alert("กรุณาใส่ข้อมูลให้ครบถ้วน")
   }
  })