extends layout
mixin listyear(year)
 -var n = 2018
 while (n <= year)
  button.year-item.dropdown-item(value=n)=n++
mixin listmonth(month)
 each item,index in month
  button.month-item.dropdown-item(value=index)=item

block script
 +ssrc(['moment.min.js','transition.js','collapse.js','bootstrap-datepicker.min.js','datatables.min.js','dataTables.buttons.min.js','leavereport.js'])
 +scss(['bootstrap-datepicker.min.css','datatable/datatables.min.css'])

block content
 .menu-row
  .col-sm-1
   .dropdown
    button(class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") เลือกรูปแบบ
    .dropdown-menu.masterplan( aria-labelledby="dropdownMenuButton")
     a.dropdown-item#select-year(value="year" href="#") ทั้งปี
     a.dropdown-item#select-month(value="month" href="#") รอบเงินเดือน
     a.dropdown-item#date-range(value="range" href="#") ช่วงเวลา
  .action-pane.col-md-3
   .date-range.hide
    .form-group
     .input-group.input-daterange.datepicker(data-provide="datepicker")
      input.form-control.datepickera(type='text')
      .input-group-addon='to'
      input.form-control.datepickerb(type='text')
   .select-year.hide(style="display:inline;")
    button(class="btn btn-sm btn-success dropdown-toggle" type="button" id="dropdownyear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") เลือกปี
    .dropdown-menu.item-year( aria-labelledby="dropdownyear")
     +listyear(parms.year)
   .select-month.hide(style="display:inline;")
    button(class="btn btn-sm btn-success dropdown-toggle" type="button" id="dropdownmonth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") เลือกเดือน
    .dropdown-menu.item-month( aria-labelledby="dropdownmonth")
     +listmonth(parms.month)
  button(type="button" id="search" class="btn btn-sm btn-success")
   i.ace-icon.fa.fa-search  Search
 .table-row.hide
  table.show-table.display.cell-border.nowrap
   thead
    tr
     th(rowspan="2") ชื่อ-นามสกุล
     th(rowspan="2") เวลาเข้า-ออกงาน
     th(rowspan="2") สาย
     th(rowspan="2") ออกก่อน
     th(rowspan="2") ไม่แสกน
     th(rowspan="2") ลากิจไม่รับค่าจ้าง
     th(colspan="2") ลาป่วย
     th(colspan="2") ลากิจ
     th(colspan="2") ลาพักร้อน
     th ลาอื่นๆ
    tr
     th ใช้
     th สิทธิ
     th ใช้
     th สิทธิ
     th ใช้
     th สิทธิ
     th ใช้
 +ssrc(['moment.min.js','transition.js','collapse.js','bootstrap-datepicker.min.js','datatables.min.js','dataTables.buttons.min.js','leavereport.js'])
 style.
  .menu-row { width:100%;margin-bottom:15px }
  table {width: 100% !important;margin: auto;overflow: auto;}
  table th {border: 1px solid #fff;border-collapse: collapse;}
  th, td {padding: 15px;}