extends layout

mixin depDoc (depart)
 for dep in depart
  if dep.depart_short
   option(data-id=dep.ID data-short=dep.depart_short)=dep.depart
mixin projDoc (project)
 for proj in project
  option(data-id=proj.project_id data-short=proj.project_short)=proj.project_name

block script

block content
 script(src="https://code.jquery.com/jquery-2.2.4.min.js")
 .container
  .memo-option
   form
    fieldset
     .row
      .col
       select#dep-alt.custom-select.custom-select-sm
        option ออกเอกสารแทน ในนามฝ่าย
        +depDoc(parms.depart)
      .col
       select#proj-alt.custom-select.custom-select-sm
        option โครงการ
        +projDoc(parms.project)
  hr
  .memo-head
   .memo-title.center บันทึกภายใน
   .row.justify-content-end.mr-0
    .modal-memo-topic เอกสารเลขที่: &nbsp;
    span.memo-span
     label#memo-no.memo-input.memo-ans(disabled type="text")
   table
    tbody
     tr
      td(colspan="2")
       .memo-quiz 
        .memo-quest ถึง:
        span.memo-span
         ul.memo-span2
          li.span-select.memo-ans.memo-to#memo-to
          li.span-input
           input.memo-input.single-input(contenteditable="true" type="text")
      td
       .memo-quiz
        .memo-quest2 วันที่:
        span.memo-span
         ul.memo-span2
          li.span-input
           input#memo-date.memo-input.memo-ans(contenteditable="true" type="text")
     tr
      td(colspan="2")
       .memo-quiz
        .memo-quest สำเนาเรียน:
        span.memo-span
         ul.memo-span2
          li.span-select.memo-ans.memo-cc#memo-cc
          li.span-input
           input.memo-input(contenteditable="true" type="text")
      td
       .memo-quiz
        .memo-quest2 จาก:
        span.memo-span
         ul.memo-span2
          li.span-select.memo-ans.memo-from#memo-from
          li.span-input
           input.memo-input.single-input(contenteditable="true" type="text")
     tr
      td(colspan="3")
       .memo-quiz
        .memo-quest เรื่อง:
        span.memo-span
         ul.memo-span2
          li.span-input
           input#memo-subject.memo-input.memo-ans(contenteditable="true" type="text")
     tr
      td(colspan="3")
       .memo-quiz
        .memo-quest เอกสารแนบ:
        ul.memo-span3
          li.span-select.memo-ans#memo-file
          li.span-upload
           form(method="POST" enctype="multipart/form-data" id="upsiwa")
            label.file-upload-custom(for="file-upload-field") เลือกไฟล์
             input.file-upload-field#file-upload-field(type="file" accept=".pdf,.jpg" onchange="checkfile(this)")
            //button.file-upload-custom(type="submit" style="margin-left: 5px;")
             i.ace-icon.fa.fa-upload  อั๊พโหลดไฟล์
  .memo-sheet
   #memoeditor
  .memo-head
   table
    tbody
     tr
      td 
       .memo-quiz 
        .memo-quest ผู้ออกเอกสาร:
        span.memo-span
         ul.memo-span2
          li.span-select.memo-ans.memo-admin#memo-admin
          li.span-input
           input.memo-input.single-input(contenteditable="true" type="text")
  .memo-head
   table
    tbody
     tr
      td 
       .memo-quiz 
        .memo-quest ผู้ตรวจสอบ:
        span.memo-span
         ul.memo-span2
          li.span-select.memo-ans.memo-boss#memo-boss
          li.span-input
           input.memo-input.single-input(type="text")
  .memo-head
   table
    tbody
     tr
      td 
       .memo-quiz 
        .memo-quest ผู้อนุมัติ:
        span.memo-span
         ul.memo-span2
          li.span-select.memo-ans.memo-approve#memo-approve
          li.span-input
           input.memo-input.single-input(contenteditable="true" type="text")
  .button-section
   button.testbutton.preview-button(type="button") ดูตัวอย่าง
 +ssrc(['ckeditor/ckeditor.js','moment.min.js','memo.js','animatemodal.min.js','html2canvas.min.js','jquery.form.min.js','daterangepicker.min.js'])
 //script(src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js")
 +scss(['memo.css','daterangepicker.css','animate.min.css'])
 #editorModal.animated.emp-modal(style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(255, 255, 255); overflow-y: auto; z-index: -9999; opacity: 0; animation-duration: 0.5s;")
  .close-editorModal
   i.fa.fa-close.fa-3x
  .modal-memo
   .modal-page
    img.modal-logo(src="../img/logo.jpg")
    .modal-memo-head
     .modal-memo-title.center บันทึกภายใน
     .row.ml-0
      .modal-memo-topic เอกสารเลขที่: &nbsp;
      .modal-memo-subject#modal-no
     table
      tbody
       tr
        td(colspan="2")
         .modal-memo-cell
          .modal-memo-topic ถึง:
          .modal-memo-subject#modal-to
        td
         .modal-memo-cell
          .modal-memo-topic วันที่:
          .modal-memo-subject#modal-date
        td
         .modal-memo-cell
          .modal-memo-topic สำเนาเรียน:
          .modal-memo-subject#modal-cc
        td(colspan="2")
         .modal-memo-cell
          .modal-memo-topic จาก:
          .modal-memo-subject#modal-from
       tr
        td(colspan="3")
         .modal-memo-cell
          .modal-memo-topic เรื่อง:
          .modal-memo-subject#modal-subject
       tr
        td(colspan="3")
         .modal-memo-cell
          .modal-memo-topic เอกสารแนบ:
          .modal-memo-subject#modal-attach
     .modal-memo-content
     .modal-section-signature
     .justify-content-end
      .justify-item
       .modal-section-admin#modal-section-admin
     .justify-content-around
      .justify-around
       .modal-section-approve#modal-section-approve
      .justify-around
       .modal-section-boss#modal-section-boss
     .modal-memo-end