mixin scss(scss)
 for t in scss
  link(rel='stylesheet' , href='css/'+t)
mixin ssrc(scr)
 for t in scr
  script(src="js/"+t)
html
 head
  title=parms.title
  meta(charset='utf-8')
  meta(http-equiv="X-UA-Compatible" , content="IE=edge,chrome=1")
  meta(name="description" , content="with draggable and editable events")
  meta(name="viewport" , content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  //link(href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet")
  +scss(['reporttime.css'])
 .container
  table.col-page
   thead.head-top
    tr
     td.title-top(colspan="24") รายงานแสดงเวลาของพนักงาน
    tr
     td
     td
     td
     td
     td
     td
     td
     td
     td
     td
     td
     td
     td
     td
     td
     td
     td
     td
     td
     td
     td
     td
     td
     td
    tr
     td(colspan="11")
     td(colspan="3")=parms.datestart
     td ถึง
     td(colspan="3")=parms.dateend
   tbody.user-desc
    tr
  