extends layout
mixin ddl(year)
 for t in year
  option(value=t selected=(parms.thisyear == t ? true : false))=t
block script
 +scss(['setting2.css','bootstrap-datepicker.min.css','clockpicker.min.css','jquery-confirm.min.css','animate.min.css'])
 link(rel="stylesheet" href="/public/datatable/datatables.min.css")
 script(src="/public/datatable/datatables.min.js")
 link(rel='application/x-font-ttf' , href='fonts/glyphicons-halflings-regular.ttf')
 link(rel='application/font-woff' , href='fonts/glyphicons-halflings-regular.woff')

block content
 table.display.cell-border#display-table(style="width:100%")
  thead
   tr
    th
    th วันที่
    th ประเภทรถ
    th ผู้จอง
    th สถานที่
    th เวลายืม
    th เวลาคืน
    th ระยะทาง
  tfoot
   tr
    th
    th วันที่
    th ประเภทรถ
    th ผู้จอง
    th สถานที่
    th เวลายืม
    th เวลาคืน
    th ระยะทาง

block footer
 +ssrc(['moment.min.js','transition.js','collapse.js','bootstrap-datepicker.min.js','clockpicker.min.js','reservelist.js','animatemodal.min.js'])