.dailyimage {
 cursor: pointer;
 padding: 2px 0 0 2px
}

.location-scan {
 display: inline-block;
 border: 1px solid #2590eb;
 padding: 1px 2px;
 margin: 2px;
 background-color: aliceblue;
}

.wrapper {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .wrapper .file-upload {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #2590eb 50%, #fff 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #fff;
    font-size: 10px;
  }
  .wrapper .file-upload input[type='file'] {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  .wrapper .file-upload:hover {
    background-position: 0 -100%;
    color: #2590eb;
  }
.hidethis {
  display:none;
}
.delfile {
  color: #e10000;
  text-decoration: none;
}
.delfile.hidethis {
  display:none;
}
.delfile .delthis {
  cursor: pointer;
}

#dateModal {
 position: relative;
 width: 150px; height: 20px;
 color: white;
}

#dateModal:before {
 position: absolute;
 left: 3px;
 content: attr(data-date);
 display: inline-block;
 color: black;
}

#dateModal::-webkit-datetime-edit, #dateModal::-webkit-inner-spin-button, #dateModal::-webkit-clear-button {
 display: none;
}

#dateModal::-webkit-calendar-picker-indicator {
 position: absolute;
 right: 0;
 color: black;
 opacity: 1;
}

.file-button > input {
 display: none;
}

.file-button > input + label {
 display: block;
 margin: 0 auto;
 width: 80px;
 height: 35px;
 transition: 0.3s ease width;
 cursor: pointer;
}

#button-icon {
 position: absolute;
 top: 11px;
 right: 10px;
}

#button-app
{
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background-color: #fff;
 border: 2px solid #99c9df;
 overflow: hidden;
 z-index: 2;
}

#button-app:before
{
    content: "แนบรูป";
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    left: 0;
    color: #143240;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    z-index: 1;
}