.dailyimage {
 cursor: pointer;
 padding: 2px 0 0 2px
}

.location-scan {
 display: inline-block;
 border: 1px solid #2590eb;
 padding: 1px 2px;
 margin: 2px;
 background-color: aliceblue;
}

.wrapper {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .wrapper .file-upload {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #2590eb 50%, #fff 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #fff;
    font-size: 10px;
  }
  .wrapper .file-upload input[type='file'] {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  .wrapper .file-upload:hover {
    background-position: 0 -100%;
    color: #2590eb;
  }
.hidethis {
  display:none;
}
.delfile {
  color: #e10000;
  text-decoration: none;
}
.delfile.hidethis {
  display:none;
}
.delfile .delthis {
  cursor: pointer;
}

#dateModal {
 position: relative;
 width: 150px; height: 20px;
 color: white;
}

#dateModal:before {
 position: absolute;
 left: 3px;
 content: attr(data-date);
 display: inline-block;
 color: black;
}

#dateModal::-webkit-datetime-edit, #dateModal::-webkit-inner-spin-button, #dateModal::-webkit-clear-button {
 display: none;
}

#dateModal::-webkit-calendar-picker-indicator {
 position: absolute;
 right: 0;
 color: black;
 opacity: 1;
}

.file-button > input {
 display: none;
}

.file-button > input + label {
 display: block;
 margin: 0 auto;
 width: 80px;
 height: 35px;
 transition: 0.3s ease width;
 cursor: pointer;
}

#button-icon {
 position: absolute;
 top: 11px;
 right: 10px;
}

#button-app
{
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background-color: #fff;
 border: 2px solid #99c9df;
 overflow: hidden;
 z-index: 2;
}

#button-app:before
{
    content: "แนบรูป";
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    left: 0;
    color: #143240;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    z-index: 1;
}

.daily-detail,.daily-remark {
 max-width:160px;  /* adjust to desired wrapping */
 overflow: auto;
}

.select-box {
 position: relative;
 display: block;
 width: 100%;
 margin: 0 auto;
 font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
 font-size: 18px;
 color: #60666d;
}
@media (min-width: 768px) {
 .select-box {
   width: 70%;
 }
}
@media (min-width: 992px) {
 .select-box {
   width: 50%;
 }
}
@media (min-width: 1200px) {
 .select-box {
   width: 30%;
 }
}
.select-box__current {
 position: relative;
 box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
 cursor: pointer;
 outline: none;
}
.select-box__current:focus + .select-box__list {
 opacity: 1;
 -webkit-animation-name: none;
         animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
 cursor: pointer;
}
.select-box__current:focus .select-box__icon {
 transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
 position: absolute;
 top: 50%;
 right: 15px;
 transform: translateY(-50%);
 width: 20px;
 opacity: 0.3;
 transition: 0.2s ease;
}
.select-box__value {
 display: flex;
}
.select-box__input {
 display: none;
}
.select-box__input:checked + .select-box__input-text {
 display: block;
}
.select-box__input-text {
 display: none;
 width: 100%;
 margin: 0;
 padding: 15px;
 background-color: #fff;
}
.select-box__list {
 position: absolute;
 width: 100%;
 padding: 0;
 list-style: none;
 opacity: 0;
 -webkit-animation-name: HideList;
         animation-name: HideList;
 -webkit-animation-duration: 0.5s;
         animation-duration: 0.5s;
 -webkit-animation-delay: 0.5s;
         animation-delay: 0.5s;
 -webkit-animation-fill-mode: forwards;
         animation-fill-mode: forwards;
 -webkit-animation-timing-function: step-start;
         animation-timing-function: step-start;
 box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
 display: block;
 padding: 15px;
 background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
 color: #546c84;
 background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
 from {
   transform: scaleY(1);
 }
 to {
   transform: scaleY(0);
 }
}

@keyframes HideList {
 from {
   transform: scaleY(1);
 }
 to {
   transform: scaleY(0);
 }
}