.wrapper {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .wrapper .file-upload {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #2590eb 50%, #fff 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #fff;
    font-size: 10px;
  }
  .wrapper .file-upload input[type='file'] {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  .wrapper .file-upload:hover {
    background-position: 0 -100%;
    color: #2590eb;
  }
.hidethis {
  display:none;
}
.delfile {
  color: #e10000;
  text-decoration: none;
}
.delfile.hidethis {
  display:none;
}
.delfile .delthis {
  cursor: pointer;
}
  