:root {
 --logo-color: #006fdd;
 --logo-link: #409fff;
 --menu-background: #e8e8e8;
 --menu-hover: #c1c1c1;
 --menu-inactive: #408080;
 --menu-icon-plus: #00a400;
 --menu-icon-munus: #00a400;
 --menu-sub-background-item: #ece9e9;
 --menu-sub-background: #d1d1d1;
 --menu-sub-background-active: #aeaeae;
 --menu-sub-item-background: #aeaeae;
 --menu-mobile-button-open: #6284f9;
 --menu-mobile-button-close: #f9bd62;
 --menu-mobile-sub-button-open: #6284f9;
 --menu-mobile-sub-button-close: #ff0000;
 --menu-mobile-active: #ffffff;
}
ul {
 padding-inline-start: 0px;
}
.page-content {
 z-index: auto;
 background-color: #fff;
 position: relative;
 margin: 0;
 padding: 8px 20px 5px;
}
.center,.align-center{text-align:center!important}
footer.footer-layout {
 left: 0;
 bottom: 0;
 width:100%;
 height:auto;
 position:fixed;
}
.footer .footer-inner,.footer .footer-inner .footer-content{ width:100% }
.input-icon{position:relative}span.input-icon{display:inline-block}.input-icon>input{padding-left:24px;padding-right:6px;line-height: 30px;}.input-icon.input-icon-right>input{padding-left:6px;padding-right:24px}.input-icon>.ace-icon{padding:0 3px;z-index:2;position:absolute;top:1px;bottom:1px;left:3px;line-height:30px;display:inline-block;color:#909090;font-size:16px}.input-icon>.input-icon-right.ace-icon{left:auto;right:3px}.input-icon>input:focus + .ace-icon{color:#579}.input-icon~.help-inline{padding-left:8px}
.space {
 max-height: 1px;
 min-height: 1px;
 overflow: hidden;
 margin: 12px 0;
}

.gn-menu-main {
 z-index: 3;
 width: 100%;
 height: 2.5rem;
 font-size: 13px;
}

.no-touch .gn-menu-main a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
 background: #3abadade;
 color: white;
}

.logo{position:relative;z-index:123;padding:10px;font:18px verdana;color:var(--logo-color);float:left;width:15%}
.logo a{color:var(--logo-link);}
nav{position:relative;width:980px;margin:0 auto;}
.gn-menu-main,.gn-menu-main ul,.gn-menu-main ul li,.gn-menu-main ul li a,.gn-menu-main #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.gn-menu-main:after,.gn-menu-main > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.gn-menu-main #head-mobile{display:none}
.gn-menu-main{font-family:sans-serif;background:var(--menu-background)}
.gn-menu-main > ul > li{float:left}
.gn-menu-main > ul > li > a{padding:17px;font-size:12px;letter-spacing:1px;text-decoration:none;color:var(--menu-inactive);font-weight:700;}
.gn-menu-main > ul > li:hover > a,.gn-menu-main ul li.active a{color:#fff;background: var(--menu-hover);}
.gn-menu-main > ul > li:hover,.gn-menu-main ul li.active:hover,.gn-menu-main ul li.active,.gn-menu-main ul li.has-sub.active:hover{background:var(--menu-hover)!important;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
.gn-menu-main > ul > li.has-sub > a{padding-right:30px}
.gn-menu-main > ul > li.has-sub > a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:var(--menu-icon-plus);content:''}
.gn-menu-main > ul > li.has-sub > a:before{position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:var(--menu-icon-plus);content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
.gn-menu-main > ul > li.has-sub:hover > a:before{top:23px;height:0}
.gn-menu-main ul ul{position:absolute;left:-9999px;min-width: 100%;}
.gn-menu-main ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:var(--menu-sub-item-background);transition:all .25s ease}
.gn-menu-main ul ul li:hover{}
.gn-menu-main li:hover > ul{left:auto}
.gn-menu-main li:hover > ul > li{height:35px}
.gn-menu-main ul ul ul{margin-left:100%;top:0}
.gn-menu-main ul ul li a{white-space: nowrap;border-bottom:1px solid rgba(150,150,150,0.15);padding:11px 15px;width: 100%;font-size:12px;text-decoration:none;color:var(--menu-sub-background-item);font-weight:400;}
.gn-menu-main ul ul li:last-child > a,.gn-menu-main ul ul li.last-item > a{border-bottom:0}
.gn-menu-main ul ul li:hover > a,.gn-menu-main ul ul li a:hover{color:#fff}
.gn-menu-main ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:var(--menu-sub-icon-munus);content:''}
.gn-menu-main ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:var(--menu-sub-icon-munus);content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
.gn-menu-main ul ul > li.has-sub:hover > a:before{top:17px;height:0}
.gn-menu-main ul ul li.has-sub:hover,.gn-menu-main ul li.has-sub ul li.has-sub ul li:hover{background:#363636;}
.gn-menu-main ul ul ul li.active a{border-left:1px solid #333}
.gn-menu-main > ul > li.has-sub > ul > li.active > a,.gn-menu-main > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}

@media screen and (max-width:1000px){
.logo{position:absolute;top:0;left: 0;width:100%;height:46px;text-align:center;padding:10px 0 0 0 ;float:none}
.logo2{display:none}
nav{width:100%;}
.gn-menu-main{width:100%}
.gn-menu-main ul{width:100%;display:none}
.gn-menu-main ul li{width:100%;border-top:1px solid #444;background: var(--menu-sub-background)}
.gn-menu-main ul li:hover{background:#363636;}
.gn-menu-main ul ul li,.gn-menu-main li:hover > ul > li{height:auto}
.gn-menu-main ul li a,.gn-menu-main ul ul li a{width:100%;border-bottom:0}
.gn-menu-main > ul > li{float:none}
.gn-menu-main ul ul li a{padding-left:25px}
.gn-menu-main ul ul li{background:var(--menu-sub-background-active)!important;}
.gn-menu-main ul ul li:hover{background:#363636!important}
.gn-menu-main ul ul ul li a{padding-left:35px}
.gn-menu-main ul ul li a{color:var(--menu-mobile-active);background:none}
.gn-menu-main ul ul li:hover > a,.gn-menu-main ul ul li.active > a{color:#fff}
.gn-menu-main ul ul,.gn-menu-main ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
.gn-menu-main > ul > li.has-sub > a:after,.gn-menu-main > ul > li.has-sub > a:before,.gn-menu-main ul ul > li.has-sub > a:after,.gn-menu-main ul ul > li.has-sub > a:before{display:none}
.gn-menu-main #head-mobile{display:block;padding:23px;color:#ddd;font-size:12px;font-weight:700}
.expand-button{width:55px;height:46px;position:absolute;right:0;top:0;cursor:pointer;z-index: 12399994;}
.expand-button:after{position:absolute;top:22px;right:20px;display:block;height:4px;width:20px;border-top:2px solid var(--menu-mobile-button-open);border-bottom:2px solid var(--menu-mobile-button-open);content:''}
.expand-button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:20px;background:var(--menu-mobile-button-open);content:''}
.expand-button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:var(--menu-mobile-button-close);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.expand-button.menu-opened:before{top:23px;background:var(--menu-mobile-button-close);width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.gn-menu-main .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid #444;height:46px;width:46px;cursor:pointer}
.gn-menu-main .submenu-button.submenu-opened{background:var(--menu-sub-item-background)}
.gn-menu-main ul ul .submenu-button{height:34px;width:34px}
.gn-menu-main .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:var(--menu-mobile-sub-button-open);content:''}
.gn-menu-main ul ul .submenu-button:after{top:15px;right:13px}
.gn-menu-main .submenu-button.submenu-opened:after{background:var(--menu-mobile-sub-button-close)}
.gn-menu-main .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:var(--menu-mobile-sub-button-open);content:''}
.gn-menu-main ul ul .submenu-button:before{top:12px;right:16px}
.gn-menu-main .submenu-button.submenu-opened:before{display:none}
.gn-menu-main ul ul ul li.active a{border-left:none}
.gn-menu-main > ul > li.has-sub > ul > li.active > a,.gn-menu-main > ul ul > li.has-sub > ul > li.active > a{border-top:none}
}