:root {
 --table-border: #bebbbb;
 --input-color: #99A3BA;
 --input-border: #CDD9ED;
 --input-background: #fff;
 --input-placeholder: #CBD1DC;
 --input-border-focus: #275EFE;
 --group-color: var(--input-color);
 --group-border: var(--input-border);
 --group-background: #EEF4FF;
 --group-color-focus: #fff;
 --group-border-focus: var(--input-border-focus);
 --group-background-focus: #b1c0ee;
 --group-color-error: rgb(15, 15, 15);
 --group-border-error: #ff0000;
 --group-background-error: var(--group-background);
 --modal-table-border: #000000;
 --padding-top: 14mm;
 --padding-bottom: 14mm;
 --padding-left: 20mm;
 --padding-right: 20mm;
}

html,body {
 overflow: unset !important;
}

* {
 box-sizing: border-box;
 -moz-box-sizing: border-box;
}

.button-section {
 text-align: center;
 margin-top: 10px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 10px;
}

.testbutton,.print-button {
 align-items: center;
}

.preview-buttom {
 display: inline-block;
}

.memo-head {
 margin-top: 10px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 10px;
 width: 21cm;
 font-family: 'Sarabun', sans-serif;
 font-size: 14px;
}

.memo-head .memo-title {
 font-size: 20px;
 width: 21cm;
}

.memo-head table {
 border: 2px var(--table-border) solid;
 width: 21cm;
}

.memo-head tr:not(:last-child) {
 border-bottom: 1px var(--table-border) solid;
}

.memo-head tr td:not(:last-child) {
 border-right: 1px var(--table-border) solid;
}

.span-select {
 display: inline;
}
.span-select > .target-select:hover {
 cursor: pointer;
 color: #275EFE;
}

.span-select > .target-select:after {
 content: ';';
}
.span-input {
 display: inline;
}
.span-upload {
}
.file-upload-field {
 display: none !important;
}
.file-upload-custom {
 cursor: pointer;
 display: inline-block !important;
 margin-bottom: 0px;
 padding: 0 4px;
 border: #000000 solid 1px;
}
.file-upload-custom:hover {
 background-color: #9fff9f;
}
.attach-file {
 display: inline-block;
 width: fit-content;
 padding: 0 5px;
 border: 1px hidden #275EFE;
 border-radius: 30px;
}
.attach-file:hover {
 cursor: pointer;
 border-style: solid;
}

.memo-span {
 display: inline;
 position: relative;
}
.memo-span2 {
 text-align: left;
 white-space: nowrap;
 overflow: hidden;
 margin: 0px !important;
 padding: 0px !important;
}
.memo-span3 {
 white-space: nowrap;
 overflow: hidden;
 margin: 0px !important;
 padding: 0px !important;
}


.memo-head tr td .memo-quiz {
 width: 100%;
 position: relative;
 display: table;
 text-align: right;
 margin-top: 0;
 margin-bottom: 0;
 overflow-wrap: inherit;
}

.memo-quiz > .memo-quest {
 display: table-cell;
 text-align: right;
 background-color: var(--group-background);
 border-right: 1px var(--table-border) dotted;
 min-width: 2.5cm;
 width: 2.5cm;
}

.memo-input {
 display: inline-block;
 list-style: none;
 width: 100%;
 border: 0 !important;
 outline: 0;
 box-shadow: none;
}

.memo-quiz > .memo-quest + .memo-ans {
 width: calc(100% - 2.5cm);
}

.memo-quiz > .memo-quest + .memo-ans:focus-within {
 padding: 0 !important;
 padding-left: 3px !important;
 color: var(--group-color-focus);
 background: var(--group-background-focus);
 border-color: var(--group-border-focus);
}

.memo-quiz > .memo-quest + .memo-ans.memo-error {
 padding: 0px !important;
 padding-left: 3px !important;
 color: var(--group-color-error);
 background: var(--group-background-error);
 border: 1px solid var(--group-border-error);
}

.select-target {
 display: inline-block;
}

.popupUserlist {
 position: absolute;
 text-align: right;
 direction: ltr;
 list-style-type: none;
 border: 3px solid #24262b83;
 height: auto;
 max-height: 150px;
 overflow-y: auto;
 margin: 0;
}

.popupUserlist.hide {
 visibility: hidden;
}

.popupUserlist > .popupUserlistItem {
 padding-left: 2px;
 position: relative;
 width: auto;
 border: 1px solid #EEF4FF;
 text-align: left;
 background-color: white;
}

.popupUserlist > .popupUserlistItem.hide {
 visibility: hidden;
}

.popupUserlist > .popupUserlistItem.select {
 background-color: #cbd1dc98;
 color: #CDD9ED;
}

.popupUserlistItem.select:hover {
 cursor: pointer;
 color: #ffffff;
}
.popupUserlistItem:hover {
 cursor: pointer;
 color: red;
}

.memo-sheet {
 font-family: 'Sarabun', sans-serif;
 margin-left: auto;
 margin-right: auto;
 width: 21cm;
 /*height: 29.7cm;*/
}

/* MEMO Sheet */
table + .modal-memo-content {
 margin-top: 8px;
}

.modal-memo {
 position: relative;
 display: block;
 font-family: 'Sarabun', sans-serif;
 border: 1px gray solid;
 margin: 20mm auto;
 width: 210mm;
 height: 297mm;
 min-height: 297mm;
 box-sizing: border-box;
 box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
 align-content: center;
 overflow-y: auto;
}

.overflow-hidden {
 overflow: hidden !important;
}

.modal-page {
 display: block;
 padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
 margin-bottom: 20px;
 width: 210mm;
 min-height: 277mm;
 height: 277mm;
}

.modal-logo {
 width: 40mm;
}

.modal-memo-head {
 padding-top: 3mm;
 padding-bottom: 2mm;
}

.memo-title,.modal-memo-title {
 font-size: 18px;
}

.modal-memo-head table {
 width: 100%;
 border: 2px var(--modal-table-border) solid;
}
.modal-memo-head tr:not(:last-child) {
 border-bottom: 1px var(--modal-table-border) solid;
}

.modal-memo-head tr td:not(:last-child) {
 border-right: 1px var(--modal-table-border) solid;
}

.modal-memo-cell > .modal-memo-topic {
 display: inline-block;
 padding-left: 2px;
 width: 25mm;
}

.modal-memo-cell > .modal-memo-topic + .modal-memo-subject {
 display: inline-block;
 padding-left: 2px;
 border: 0px;
 width: calc(100% - 27mm);
}

.modal-memo-content:first-child {
 margin-top: 8px;
}

.modal-memo-content {
 font-family: 'Sarabun', sans-serif;
 display: block;
 text-indent: 10mm;
 overflow-wrap: anywhere;
}

.modal-section-signature {
 margin-top: 15mm;
}

.modal-section-seperate {
 margin-top: 5mm;
}

.modal-section-admin {
 display: block;
 width: 100%;
 text-align: center;
}
.modal-section-boss {
 display: block;
 width: 100%;
 text-align: center;
}
.modal-section-approve {
 display: block;
 width: 100%;
 text-align: center;
}
.memo-approve-comment {
 text-indent: 5mm;
 text-align: left;
}
.memo-comment-approve {
 display: block;
 text-align: left;
 width: auto;
}
.memo-comment-underline {
 position: relative;
 width: auto;
 border-bottom: 1px black dashed;
}

.modal-comment-memo {
 text-align: justify;
}
.modal-comment-memo:after {
 content: '';
 display: inline-block;
 width: 100%;
}
.modal-comment-memo .memo-comment-underline {
 text-align: justify;
 border-bottom: 1px dashed black;
 margin-left: 5px;
}

.modal-memo-end {
 margin-top: 5mm;
 display: block;
 border-bottom: solid 4px black;
}

.justify-content-start {
 display: inline-block;
}

.justify-content-end {
 text-align: right;
}

.justify-content-center {
 text-align: center;
}

.justify-content-between {
 text-align: justify;
}

.justify-content-between:after {
 content: '';
 display: inline-block;
 width: 100%;
}

.justify-content-around {
 display: table;
 width: 100%;
}

.justify-item {
 display: inline-block;
}

.justify-around {
 display: table-cell;
 padding: 0px 10px;
 text-align: center;
}

.modal-memo-content > table * {
 text-indent: 0mm;
}

.modal-memo-content > table td,th {
 padding: 0px 2px !important;
}

/* Print */

.page-break {
 page-break-after: always;
}

@media print {
 .modal-memo { margin: 0mm 0mm; }
 a[href]:after { content: none !important; }
}
