:root {
 --text-475: white;
 --color-475: #08b394;
 --box-475: rgb(8,179,148,0.2);
 --text-745: white;
 --color-745: #2a7568;
 --box-745: rgb(42,117,104,0.2);
 --text-6841: white;
 --color-6841: #000000;
 --box-6841: rgb(0,0,0,0.2);
 --text-3404: black;
 --color-3404: #e0e0e0;
 --box-3404: rgb(224,224,224,0.2);
}

table caption {  
 text-align: center;
 caption-side: top; 
}

.reserve-timerange {
 border: 1px rgb(223, 217, 217) solid;
 box-shadow: 2px 3px 5px rgb(151, 150, 150);
 width: 80%;
}

.sect-time {
 position: relative;
}

#extraComment {
 width:auto;
}

.reserve-rangebody tr:first-child .reserve-car {
 height: 1px;
 border-top: rgb(223, 217, 217) 1px ridge;
 top: 0px;
 left: 0px;
}

.sect-time .reserve.name {
 border-right: rgb(223, 217, 217) 1px ridge;
 text-align: left;
 padding-left: 20px !important;
}

.reserve-car {
 position: relative;
 border-right: rgb(223, 217, 217) 1px ridge;
}

.reserve-car .car-color[data-color="475"] {
 margin: 0 4px;
 padding: 0 10px;
 border-radius: 4px;
 color: var(--text-475);
 background: var(--color-475);
 border: 4px solid var(--box-475);
}
.reserve-car .car-color[data-color="745"] {
 margin: 0 4px;
 padding: 0 10px;
 border-radius: 4px;
 color: var(--text-745);
 background: var(--color-745);
 border: 4px solid var(--box-745);
}
.reserve-car .car-color[data-color="3404"] {
 margin: 0 4px;
 padding: 0 10px;
 border-radius: 4px;
 color: var(--text-3404);
 background: var(--color-3404);
 border: 4px solid var(--box-3404);
}
.reserve-car .car-color[data-color="6841"] {
 margin: 0 4px;
 padding: 0 10px;
 border-radius: 4px;
 color: var(--text-6841);
 background: var(--color-6841);
 border: 4px solid var(--box-6841);
}

.timeline-first[data-color="475"],.timeline-last[data-color="475"],.timeline-middle[data-color="475"] {
 background: var(--color-475);
 box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 1px var(--box-475) inset;
}
.timeline-first[data-color="745"],.timeline-last[data-color="745"],.timeline-middle[data-color="745"] {
 background: var(--color-745);
 box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 1px var(--box-745) inset;
}
.timeline-first[data-color="6841"],.timeline-last[data-color="6841"],.timeline-middle[data-color="6841"] {
 background: var(--color-6841);
 box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 1px var(--box-6841) inset;
}
.timeline-first[data-color="3404"],.timeline-last[data-color="3404"],.timeline-middle[data-color="3404"] {
 background: var(--color-3404);
 box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 1px var(--box-3404) inset;
}

.reserve-rangebody tr:last-child {
 border-collapse: separate;
 border-spacing: 0 0 10px 0;
}

.reserve-timerange .reserve {
 padding: 0px;
 text-align: center;
 font-size: 12px;
}

.reserve-line {
 position: relative;
 min-width: 10px;
}

.reserve-time {
 position: relative;
 min-width: 10px;
}

.reserve-time-first {
 position: relative;
 min-width: 10px;
 overflow: hidden;
}

.reserve-time-last {
 position: relative;
 min-width: 10px;
 overflow: hidden;
}

.reserve-time-both {
 position: relative;
 min-width: 10px;
 overflow: hidden;
}

.reserve-time-first .timeline-first {
 position: absolute;
 display: block;
 right: 0px;
 left: 50%;
 margin: 0;
 border: 0;
 height: 6px;
 border-radius: 50px 0 0 50px;
 z-index: 1;
}

.reserve-time .timeline-middle {
 position: absolute;
 display: block;
 right: 0px;
 left: 0px;
 margin: 0;
 border: 0;
 height: 6px;
 z-index: 1;
}

.reserve-time-last .timeline-last {
 position: absolute;
 display: block;
 right: 50%;
 left: 0px;
 margin: 0;
 border: 0;
 height: 6px;
 border-radius: 0 50px 50px 0;
 z-index: 1;
}

.reserve-time-both .timeline-first {
 position: absolute;
 display: block;
 right: 0px;
 left: 52%;
 margin: 0;
 border: 0;
 height: 6px;
 border-radius: 50px 0 0 50px;
 z-index: 1;
}

.reserve-time-both .timeline-last {
 position: absolute;
 display: block;
 right: 52%;
 left: 0px;
 margin: 0;
 border: 0;
 height: 6px;
 border-radius: 0 50px 50px 0;
 z-index: 1;
}

.reserve-timeline {
 position: absolute;
 display: block;
 right: 0px;
 left: 0px;
 height: 1px;
 margin: 0;
 margin-top: 0px;
 border: 1px;
 background: #000000;
 z-index: 1;
}

.reserve-fulldot {
 position: absolute;
 display: block;
 font-size: 8px;
 top: -2px;
 left: 45%;
}

.reserve-halfdot {
 position: absolute;
 display: block;
 font-size: 3px;
 top: 0;
 left: 45%;
}

.badge {
 cursor: pointer;
 margin:3px;
}