table #manage tr:hover {
    background-color: rgba(243, 241, 240, 0.678);
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 1px;
    min-width: 24px;
}    
table.table td a:hover {
    text-decoration: none;
} 
table.table td a.addline {
    color: #27C46B;
}
table.table td a.editline {
    color: #FFC107;
}
table.table td a.privacy {
    color: rgba(23, 7, 255, 0.815);
}
table.table td a.resetline {
    display: inline-block;
    color: rgba(250, 18, 200, 0.89);
}
table.table td a.delete {
    color: #E34724;
}
table.table td .saveline {
    display: none;
}
table.table .add.error {
    border-color: #db1616d0;
}
.inputex {
    width: 100px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
 }
 .inputex:focus {
    width: 200px;
 }
.active-status .active {
    color: #2bc42b
}
.active-status .not-active {
    color: #ff8080
}
.active-status span {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none;
}
